main .pluses{
    width: 1802px;
    height: 595px;
    flex-shrink: 0;
    
}

main .pluses h4{
    color: #000;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    left: 60px;
}

main .pluses h6{
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    top: 20px;
    left: 60px;
}


main .pluses ul{
    position: relative;
    top: 100px;
    left: 60px;
}

main .pluses li{
    color: #000;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main .pluses img{
    position: relative;
    top: -180px;
    left: 1200px;
    width: 459px;
    height: 278px;
    flex-shrink: 0;
}

main .pluses h4.how_work{
    color: #000;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    left: 60px;
    top: -150px; 
}

main .pluses p.first{
    color: #000;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    top: -100px;
    left: 60px;

    width: 1500px;

}

main .pluses p{
    color: #000;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    top: -80px;
    left: 60px;

    width: 1500px;

}